@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Syne:wght@400..800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {

    color: #29072c;
    background-color: #fff;
    margin: 30px 0 0 0;
    transition: 0.5s ease;

}

/*animation part */
::-webkit-scrollbar {
    width: 10px;
    background: #969696;
}

::-webkit-scrollbar-thumb {
    background: #7806a5;

}

::-webkit-scrollbar-thumb:hover {
    background: #29072c;
}

/* header part */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(20px);
    transition: 0.5s ease;
}

header.sticky {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgb(214, 214, 214);
}

.nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: 0.5s ease;
    height: calc(65px + 15px);
    max-width: 1250px;
}


header.sticky .nav-bar {
    height: calc(32px + 15px);
}


.nav-bar .logo {
    color: rgb(68, 6, 126);
    font-size: 20px;
    font-weight: bolder;
}

.nav-item a {
    color: rgb(68, 6, 126);
    font-size: 15px;
    font-weight: bold;
   

}

.nav-item a:not(:last-child) {
    margin-right: 50px;
}

.nav-item a:hover {
    color: blue;
}
/*
.typewriter {
    font-family: monospace;
    font-size: 30px;
    margin: 20px;
    text-align: center;
  }
  
  #typewriter-text {
    white-space: pre;
  }
*/ 

/*home part*/
.home {
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 60px 30px;
    flex-direction: column;
}

.home .home-container {
    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 100%;
}

.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    font-size: 30px;
    gap: 25px;
    transition: 0.5s ease;
    color: rgb(68, 6, 126);
}

.home-container .media-icons a:hover {
    color: blue;
}

.home-container .info h2 {
    font-size: 55px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1px;
    margin-top: 100px;
    z-index: 999;

}

.home-container .info h3 {
    color: #777;
    font-feature-settings: 30px;
    font-weight: bold;
    line-height: 40px;
    max-width: 350px;
    margin-top: 15px;
}
/*
.home-container .home-img img {
    width: 75%;
    height: 65%;
    object-fit: cover;
    margin-left: 30%;
    margin-bottom: 2%;
    justify-content: center;
    position: relative;

}

*/
.blob{
    width: 350px;
    height: 350px;
    border-radius: 60%  40%  40%   40% / 60%  40%  40%  40%;
    overflow: hidden;
    animation: flow 4s infinite ease-in-out;
    background:rgb(68, 6, 126);
}

.blob img{
    width: 120%;
    height: 120%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

@keyframes flow {
    0% {

        border-radius: 60%  40%  40%   40% / 60%  40%  40%  40%;
    }
    35% {

        border-radius: 80%  70%  60%   60% / 80%  70%  60%   60%;
    }
    
    70% {

        border-radius: 70%  90%  60%   70% / 80%  90%  50%   90%;
    }

    100% {

        border-radius: 60%  40%  40%   40% / 60%  40%  60%  40%;
    }
    
}

.btn {
    background-color: rgb(68, 6, 126);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    letter-spacing: 1 px;
    border-radius: 5px;
    transition: 1s ease-in-out;

}

.btn:hover {
    background-color: #ffffff;
    color: rgb(68, 6, 126);
    font-weight: bolder;
    border: 3px solid black;
    border-radius: 10px;
    transform: scale(1.05);
}

.home .scroll-down {
    color: rgb(68, 6, 126);
    font-size: 10px;
    font-weight: bold;
    margin-top: 70px;
}

.home .scroll-down i {
    color: rgb(68, 6, 126);
    font-size: 12px;
    animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
    10% {
        transform: translateY(-10px);
    }

    70% {
        transform: translateY(10px);
    }
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*about part*/
.section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 30px 30px;

}

.sub-section {
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px 0px;
}

.section-title-01 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 30px;
    background: linear-gradient(to top, transparent 0%, rgb(68, 6, 126) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.3;
}

.section-title-02 {

    font-size: 35px;
    font-weight: bold;
    transform: translateY(-80px);

}

.section-title-02:before {

    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    background: rgb(68, 6, 126);
}

.container {
    position: relative;
    flex-direction: column;

}

.about .container .content {
    column-gap: 40px;
    width: 100%;
}

.about-img {
    position: relative;
}

.about-img img {
    max-width: 90%;
    min-width: 500px;


}

.about-info .description {
    max-width: 800px;
}

.about-info .description h3 {
    font-size: 25px;
    margin-top: 15px;
    font-weight: bold;

}

.about-info .description p {
    color: #777;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(21, 21, 21, 0.87);


}

/*skill part*/

.skills .container .content {
    width: 100%;
}

.skills-description {
    max-width: 1200px;
    margin-bottom: 50px;
}

.skills-description h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-align: center;

}

.skills-description p {
    margin-bottom: 90px;
    color: #777;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;

}


.skills-info {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    margin: 0 auto;

}

.skills-info h4 {
    margin-bottom: 30px;
}

.skills-info h4 label {
    background: rgb(68, 6, 126);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.education-all {
    margin-bottom: 80px;

}

.edu-list .item {
    background: #fff;
    box-shadow: 0 0 20px rgb(146, 145, 145);
    border-bottom: 3px solid rgb(68, 6, 126);
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.edu-list .item .year {
    font-size: 20px;
    margin-bottom: 5px;

}

.edu-list .item p {
    color: #777;
    font-size: 20px;
}

.edu-list .item p span {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.bar {
    background: #FFF;
    box-shadow: 0 0 20px rgb(146, 145, 145);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.bar .info span {
    font-size: bold;
}

.bar .line {
    position: relative;
    width: 100%;
    height: 7px;
    background: #969696;
    border-radius: 1px;
}

.bar .line:before {
    content: ' ';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: #7806a5;
    border-radius: 0.5px;

}

.bar .html::before {
    width: 95%;
}

.bar .css::before {
    width: 80%;
}

.bar .javascript::before {
    width: 70%;
}

.bar .react-js::before {
    width: 15%;
}

.bar .c::before {
    width: 70%;
}

.bar .c-::before {
    width: 80%;
}

/*work experience part */

.experience-card {
    margin-top: 100px;
    background: #fff;
    padding: 100px 30PX;
    border-radius: 6px;
    box-shadow: 0 0 20px rgb(146, 145, 145);
    transition: 0.5s ease;
}

.experience-card .upper {
    line-height: 40px;
}

.experience-card h3 {
    margin-top: -50px;
    font-size: 35px;
    font-weight: bold;
}

.experience-card h4 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.experience-card h5 {
    color: #777;
    font-size: 20px;
    font-weight: bold;
    margin-top: -25px;
}

.experience-card .hr p {
    font-size: 20px;
    color: #777;
    font-weight: 500;
}

.experience-card .hr p span {
    color: black;
    font-weight: bold;
}

.edu-list .item:hover,
.bar:hover,
.experience-card:hover {
    transform: scale(1.05);
}

/*projects part*/

.projects .container .content {
    width: 100%;
}

.projects-description h3 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

/*contact parrt */

.contact .container .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-left {
    margin-left: 8%;
}

.contact-left h2 {

    font-size: 35px;
    font-weight: bold;
    color: black;


}

.contact-list li {
    margin-top: 60px;
    margin-bottom: 40px;
}

.contact-list li h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-list li h3 i {
    color: #7806a5;
    margin-right: 10px;
    font-size: 25px;
}

.contact-list li span {
    color: #777;
    margin-left: 40px;
    text-align: justify;
    font-size: 15px;
    font-weight: 600;

}

.contact-list .item-title span {
    text-align: center;
}

.contact-list li span a {
    color: #777
}

.contact-right {
    margin-right: 7%;

}

.contact-right p {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: black;

}

.contact-right p span {
    color: #7806a5;
    font-weight: 700;
    margin-top: 30px;
}


.contact-form {
    margin-top: 40px;
}


.first-row input,
.second-row input,
.third-row input,
.fourth-row textarea {
    border: none;
    color: black;
    background: #dcadef;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 15px 20px 20px 20px;
    border-radius: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    z-index: 999;
   

}

.fourth-row textarea {
  width: 100%;
   
}

::placeholder {
    color: #29072c;
}

.first-row input {
    width: 100%;
    
   

}

.second-row input {
    width: 100%;
}

.third-row input {
    width: 100%;
}


.contact-form .btn {
    margin-left: 27%;
    border: none;
    margin-top: 10px;


}

.contact-form .btn:hover {
    border: 2px solid black;
    transform: scale(1.05);
}

 .first-row input:hover,
.second-row input:hover,
.third-row input:hover,
.fourth-row textarea:hover{
    transform: scale(1.07);
    box-shadow: 0 0 10px rgb(0, 0, 0);
} 


/*footer*/

footer {
    width: 100%;
    margin-top: 150px;
    padding: 50px 30px;
    background-color: #7806a5;
    --footer-background:  #7806a5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

footer a {
    color: #fff;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;

}

.footer-container .about{
    margin-left: -12%;
}

.footer-container .follow{
    margin-right: -12%;
}


.footer-container .about h2 {
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
}

.footer-container .about p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-container .about a {
    transition: 0.5s ease;
}

.footer-container .info,
.footer-container .follow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.footer-container .info h3,
.footer-container .follow h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;

}

.footer-container .info ul,
.footer-container .follow ul {
    display: flex;
}

.footer-container .info a {
    margin: 20px;
    transition: 0.5s ease;
}

.footer-container .follow a {
    font-size: 25px;
    margin: 20px;
    transition: 0.5s ease;
}

.footer-copyright p {
    font-size: 20px;
    font-weight: 300;
    margin-top: 60px;
    text-align: center;
}

.footer-container .info ul a:hover,
.footer-container .follow ul a:hover {
    color: black;
}

.footer-container .about a:hover {
    color: black;
}


.footer-container .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
    z-index:  -1;
}

 .footer-container  .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

  @-webkit-keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

