@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Syne:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #29072c;
  background-color: #fff;
  margin: 30px 0 0 0;
  transition: 0.5s ease;
}

/* Animation part */
::-webkit-scrollbar {
  width: 10px;
  background: #969696;
}

::-webkit-scrollbar-thumb {
  background: #7806a5;
}

::-webkit-scrollbar-thumb:hover {
  background: #29072c;
}
.section {
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 30px 30px;
  }
  
  .sub-section {
    position: relative;
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px 0px;
  }
  
  .section-title-01 {
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 30px;
    background: linear-gradient(to top, transparent 0%, rgb(68, 6, 126) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.3;
  }
  
  .section-title-02 {
    font-size: 35px;
    font-weight: bold;
    transform: translateY(-80px);
  }
  
  .section-title-02:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 5px;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    background: rgb(68, 6, 126);
  }
  
  .container {
    position: relative;
    flex-direction: column;
    
  }